* {
    padding: 0px;
    margin: 0px;
    font-family: roboto;
    box-sizing: border-box;
}

.input>h3,
.output>h3 {
    color: #ffffff;
    padding: 10px 15px;
    background: #2196F3;
}

.input,
.output {
    float: left;
    position: relative;
    width: 50%;
    height: 100vh;
    background: #fff;
}

.input {
    border-right: 1px solid #cacaca;
}

.input textarea {
    border: 0;
    width: 100%;
    outline: 0;
    font-size: 20px;
    padding: 20px;
}

.input textarea,
.output .markdown-body {
    height: calc(100% - 46px);
    overflow-y: auto;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

button {
    position: absolute;
    bottom: 15px;
    right: 20px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 0;
    font-weight: 600;
    outline: 0;
    background: #2196f3;
    color: #fff;
    box-shadow: 1px 1px 6px #757575;
    cursor: pointer;
}
